body{
  font-size: 14px;
  color: #333;
  background-color: #fff;
  min-width: 1226px;
  align: center;
}
#head-xyc a:link{
color: gray;
}
#head-xyc a:visited{
  color: blue;
}
#head-xyc a:hover{
  color: white;
}
#head-xyc{
  position: relative;
  height: 40px;
  font-size: 12px;
  color: #b0b0b0;
  background: #333;
  margin-right: auto;
  margin-left: auto;
}
#nav-xyc{
  color: #b0b0b0;
  line-height: 40px;
  display: inline-block;
  background-color: #333;
  font-size: 12px;
  margin-left:150px;
}
#nav-31{
  position: absolute;
  display: inline-block;
  margin-left: 650px;
  line-height: 40px;
}
#shopping-31{
  position: relative;
  float: right;
  display: inline;
  color: #333;
  margin-right: 90px;
}
#shopping-31 a:link{
  color: #b0b0b0;
}
#shopping-31 a:visited{
  color: #000;
}
#shopping-31 a:hover{
  color: orangered;
}
#header-nav-xyc{
  display: inline-block;
  line-height: 40px;
  font-size: 17px;
  color: #000000;
  margin-left: 220px;
  margin-top: 20px;
  padding: 6px;
  border-bottom-width: none;
  word-spacing: 8px;
  font-weight: thick;
}
#header-nav-xyc a:link{
  color: black;
  text-decoration: none;
}
#header-nav-xyc a:visited{
  color: orangered;
}
#header-nav-xyc a:hover{
  color: orangered;
}
.xyc-31{
  float: left;
  margin-top: 9px;
  margin-left:125px;
}
#search-xyc{
  position: relative;
  float: right;
  margin-top: 35px;
  margin-right: 300px;
  height: 48px;
  line-height: 48px;
  width: 223px;
  border: 1px solid #b0b0b0;
  outline: none;
}
#searchbox-31{
  position: absolute;
  margin-left: 223px;
  display: inline;
  margin-bottom: 48px;
  top: 1px;
}
.leftbox-xyc{
  position: absolute;
  margin-top: 50px;
  margin-left: 125px;
  line-height: 45px;
  background-color: #424242;
  list-style-type: none;
  padding-left: 50px;
  width: 200px;
  height: 460px;
}
.leftbox-xyc a:link{
  color: white;
  text-decoration: none;
}
.leftbox-xyc a:visited{
  color: white;
  text-decoration: none;
}
.leftbox-xyc a:hover{
  color: orangered;
  text-decoration: none;
}
#xiaomishouji-31{
  position: absolute;
  float: right;
  margin-top: 50px;
  margin-left: 375px;
}
#box-31{
  position: relative;
  display: inline-block;
  margin-top: 513px;
  margin-left: 350px;
  letter-spacing: 20px;
  border-bottom-width: none;
}

